.footer{
    position: relative;
    margin: 0;
    bottom: 0;
    background-color: antiquewhite;
}
.footer .content{
    display: flex;
    max-width: 70%;
    padding-bottom: 100px;
    margin: auto;
}
.footer .content .box{
    margin: auto;
    margin-top: 0;
    max-width: fit-content;
    flex: 1;
}
.footer .content h1{
    font-weight: 400;
}
.footer .content a{
    display: block;
    color: rgba(0, 0, 0, 0.705);
    transition: 0.3s;
    cursor: pointer;
    padding: 5px 10px;
}
.footer .content a:hover{
    color: black;
}