.MainAbout{
    margin-top: 100px;
}

#slider{
    overflow-x: hidden;
    overflow-y: visible;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: auto;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 10%;
    padding: 0 5%;
    padding-top: 40px;
    padding-bottom: 2%;
    float: left;
}

@keyframes slider{
    0%{left: 0;}
    20%{left: 0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}

.MainAbout .heading{
    font-size: 80px;
    text-align: center;
    display: block;
    margin: auto;
    border-bottom: thin solid black;
    width: fit-content;
}
.foundersAbout{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.block{
    text-align: center;
    flex: 1;
    padding: 30px;
    margin-bottom: -80px;
}
.image{
    background: no-repeat center;
    background-size: cover;
    margin: auto;
    background-image: url("dummy.jpg");
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 200px;
}
.text{
    margin-top: 10px;
}

.about{
    margin-top: 50px;
}